* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.header {
    margin-bottom: 108px;
}

/* Header, Logo, Navigation */
.mart-container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.mart-logo-container {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
}

.mart-logo-container>p::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

/* Navigation */
.mart-navigation {
    float: right;

}

.mart-nav-list {
    margin: 0;
    list-style: none;
}

.mart-nav-list-item {
    float: left;
}

.mart-nav-list-item:not(:last-child) {
    margin-right: 34px;
}

.mart-nav-list-link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.mart-nav-list-link:hover,
.mart-nav-list-link:focus {
    color: #1abc9c;
}

h2.section-title {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
    color: #515151;
}

h2.section-title::after {
    display: block;
    content: "";
    margin: 0 auto;
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
}

/* Product section */

h2.product::after {
    margin-top: 32px;
}

h2.product {
    margin-bottom: 92px;
}

.product-link {
    display: block;
    background-color: #e9f0fd;
}

.product-link:hover .product-name {
    background-color: #1abc9c;
}

.product-link:hover .product-price {
    background-color: #7fd9c7;
}

.products-list {
    list-style: none;
}

.products-list-item {
    float: left;
    width: 256px;
}

.products-list-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}

.products-list-item:not(:nth-child(4n + 4)) {
    margin-right: 28px;
}

.product-img {
    display: block;
    width: 100%;
    height: auto;
}

.product-name {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: #323232;
    color: #ffffff;
    display: inline-block;
    padding-left: 14px;

    float: left;
    width: 200px;
}

.product-price {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: #8c8c8c;
    color: #ffffff;
    text-align: center;

    float: right;
    width: 56px;
}

.products-section {
    padding-bottom: 106px;
}


/* News section */

.news-section {
    padding-bottom: 80px;
}

h2.news::after {
    margin-top: 32px;
}

h2.news {
    margin-bottom: 80px;
}

.news-list {
    list-style: none;
}

.news-list-item {
    float: left;
    width: 350px;
}

.news-list-item:not(:last-child) {
    margin-right: 30px;
}


.news-img {
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}


.news-title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.news-title::after {
    display: block;
    content: "";
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin-top: 14px;
    margin-bottom: 30px;
}

.news-description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 16px;
}

.read-more-btn {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.read-more {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;

    display: block;
    background-color: #4ec6ab;
    color: #f6fbfa;
    text-decoration: none;
    padding: 12px 40px;
    width: 160px;
    height: 50px;
}